
        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .box {
            background-color: #fef84f;
            color: rgb(0, 0, 0);
            padding: 40px;
            text-align: center;
        }
    