
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    border: 1px solid #ff0101;
}
span6 {
    grid-column: span 6;
}
span3 {
    grid-column: span 3;
}
.column1 {
    grid-column: 1 / 2;
}
.column2 {
    grid-column: 2 / 3;
}
.column3 {
    grid-column: 3 / 4;
}
.column4 {
    grid-column: 4 / 5;
}
.column5 {
    grid-column: 5 / 6;
}
.column6 {
    grid-column: 6 / 7;
}
.columnA {
    grid-column: 7 / 8;
}
.columnB {
    grid-column: 8 / 9;
}
.columnC {
    grid-column: 9 / 10;
}
.columnX {
    grid-column: 10 / 11;
}
.columnY {
    grid-column: 11 / 12;
}
.columnZ {
    grid-column: 12 / 13;
}

